<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="./../../../lib/mint-ui/style.css">
	<link rel="stylesheet" href="./../../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./../../../common/css/jas-main.css">
</head>
<style>
</style>

<body>
	<div class="_outer-wrapper " v-cloak>

		<jas-header :title="title"></jas-header>

		<!-- tab-container -->
		<div v-setheight style="overflow: auto;">

			<jas-form-items-group ref="mainForm" :fields-group="fieldsGroup" :fields-config="fieldsConfig" :form="form"></jas-form-items-group>

			<jas-file-group is-edit="true" ref="files" @success="uploadSuccess"></jas-file-group>

			<!-- <jas-group title="附件信息">
				<div>
					<div v-if="isEdit" class="topLine" style="padding:10px;overflow: hidden;">
						<span style="line-height: 33px;font-size: 12px;color:#666;">最上传{{max}}个附件</span>
						<div style="float:right;overflow: hidden;">
							<mt-button type="primary" size="small" :disabled="files.length>=max" @click.native="takePhoto">拍照</mt-button>
							<mt-button type="primary" size="small" :disabled="files.length>=max" @click.native="selectPhoto">选择图片</mt-button>
						</div>
					</div>
					<div>
						<template v-for="item in files">
							<mt-cell-swipe v-if="isPhoto(item.fileName)" :right="isEdit && [{
								content: '刪除',
								style: {
									background: 'red',
									color: '#fff'
								},
								handler: function () {
									deleteItem(item)
								}
							}]" :title="item.fileName" is-link @click.native="seeDetail(item)">
								<span>预览图片</span>
								<div slot="icon" style="margin:4px;height:40px;width:40px;display: inline-block;vertical-align: middle;" :style="styleBgImg(item)"></div>
							</mt-cell-swipe>
							<mt-cell-swipe v-else :title="item.fileName" :right="isEdit && [{
								content: '刪除',
								style: {
									background: 'red',
									color: '#fff'
								},
								handler: function () {
									deleteItem(item)
								}
							}]" is-link>
								<span>下载附件</span>
								<div slot="icon" style="margin:4px;height:40px;width:40px;display: inline-block;vertical-align: middle;text-align: center;">
									<i class="fa fa-file-text-o" style="font-size:24px;color:#666;line-height: 40px;" aria-hidden="true"></i>
								</div>
							</mt-cell-swipe>
						</template>
					</div>
				</div>

			</jas-group> -->

		</div>
		<jas-button-footer :is-return="true" :buttons="['保存','在录一条']" :buttons-color="['','#f90']" @click="clickbtn"></jas-button-footer>
	</div>
</body>
<script src="./../../../appcan/js/appcan.js"></script>
<script src="./../../../lib/vue/vue.js"></script>
<script src="./../../../lib/mint-ui/index.js"></script>
<script src="./../../../common/js/jas-tools.js"></script>
<script src="./../../../common/components/jas-components.js"></script>
<script src="./fields-config.js"></script>


<script>
	window.vm = new Vue({
		el: '._outer-wrapper',
		data: function () {
			var that = this;
			return {
				title: '数据录入',
				value: '',
				fieldsGroup: [],
				fieldsConfig: {},
				form: {},
			}
		},
		created: function () {
			var that = this;
			appcan.ready(function () {
				var params = jasTools.base.getParamsInUrl();
				var config = FieldsConfig[params.title];
				that.title = config.title;
				that.fieldsGroup = config.fieldsGroup;
				that.fieldsConfig = config.fieldsConfig;
				that.form = FieldsConfig.methods.formatForms(that.fieldsGroup);
				// that.getDetailByObjectId('dfe088c3-de1d-454e-85f3-6b131681d65b');
				// that.getDetailByObjectId('b1ec91d9-5443-4f04-8d85-22014aa5a707', config.detailUrl); // 汉口信息
			});
			// var config = FieldsConfig['weldRework'];
			// that.title = config.title;
			// that.fieldsGroup = config.fieldsGroup;
			// that.fieldsConfig = config.fieldsConfig;
			// that.form = FieldsConfig.methods.formatForms(that.fieldsGroup);
		},
		mounted: function () {
			var that = this;
			appcan.ready(function () {
				that.$refs.files.requestFile('1f4dea6c-0ae2-487c-8151-4e52bc7a20a7');
			});
		},
		methods: {

			clickbtn: function (index) {
				// this.$toast('您点击了第' + index + '个按钮');
				this.$refs.files.uploadFiles('1f4dea6c-0ae2-487c-8151-4e52bc7a20a7');

			},
			getDetailByObjectId: function (oid, url) {
				var that = this;
				// var url = '/map/commonData/F000030/get.do';
				// var url = '/jdbc/commonData/constructionWeld/getPage.do';
				jasTools.ajax.post(url, {
					oid: oid
				}, function (data) {
					that.form = data.data || data.rows[0];
					// that.$refs['mainForm'].triggerFatherSelectsChange();
					// that.form
				});
			},
			uploadSuccess: function (isSuccess) {
				if (isSuccess) {
					window.Vue && Vue.prototype.$toast('上传成功');
				} else {
					window.Vue && Vue.prototype.$toast('上传失败');

				}
			},
			save: function () { //
				var that = this;
				var msg = "";
				if (!this.isEdit) {
					msg = "增加成功";
					url = jasTools.base.rootPath + "/jdbc/commonData/detectionFaUltrasonic/save.do";
				} else {
					msg = "修改成功";
					url = jasTools.base.rootPath + "/jdbc/commonData/detectionFaUltrasonic/update.do";
				}

				jasTools.ajax.post(url, that.form, function (data) {
					that.$refs.upload.uploadFile(data.data || that.oid);
				});

			},

		},
	});
</script>

</html>