<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="./lib/mint-ui/style.css">
	<link rel="stylesheet" href="./lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./common/css/jas-main.css">
</head>
<style>
	.footer {
		color: #666;
		height: 55px;
		position: relative;
	}
</style>

<body>
	<div class="_outer-wrapper" v-cloak>

		<jas-header title="施工数据采集" :is-return="false"></jas-header>

		<div id="content" v-setheight></div>

		<div class="footer">
			<mt-tabbar v-model="selectedTab">
				<mt-tab-item :id="tab.name" v-for="tab in tabs">
					<i style="font-size:24px;" slot="icon" :class="tab.icon" aria-hidden="true"></i>
					<span>{{tab.name}}</span>
				</mt-tab-item>
			</mt-tabbar>
		</div>
	</div>
</body>

<script src="./appcan/js/appcan.js"></script>
<script src="./lib/vue/vue.js"></script>
<script src="./lib/mint-ui/index.js"></script>
<script src="./common/js/jas-tools.js"></script>
<script src="./common/components/jas-components.js"></script>

<script>
	var vm = new Vue({
		el: '._outer-wrapper',
		data: function () {
			return {
				selectedTab: '数据录入',
				tabs: [ //
					{
						name: '代码例子',
						icon: 'fa fa-home',
						url: 'pages/_demo/_demo.html',
					},
					{
						name: '数据统计',
						icon: 'fa fa-home',
						url: '',
					}, {
						name: '数据录入',
						icon: 'fa fa-pencil-square',
						url: 'pages/data-collection/data-collection.html',
					}, {
						name: '数据审核',
						icon: 'fa fa-lock',
						url: 'pages/data-review/index.html',
					}, {
						name: '地图展示',
						icon: 'fa fa-globe',
						url: '',
					}, {
						name: '个人中心',
						icon: 'fa fa-user',
						url: 'pages/user-center/index.html',
					},
				],
			}
		},
		watch: {
			selectedTab: function () {
				this.openCurrentPage();
			}
		},
		created: function () {},
		mounted: function () {
			var that = this;
			appcan.ready(function () {
				that.openCurrentPage();
			});
		},
		methods: {
			openCurrentPage: function () {
				var that = this;
				var src = '';
				this.tabs.forEach(function (item) {
					if (item.name === that.selectedTab) {
						src = item.url;
					}
				});

				var top = Math.floor($('#content').offset().top * (window.devicePixelRatio || 1));
				var height = Math.floor($('#content').height() * (window.devicePixelRatio || 1));
				var width = Math.floor($('#content').width() * (window.devicePixelRatio || 1));
				if (this[src]) {
					appcan.window.bringPopoverToFront(src);
				} else {
					this[src] = true;
					appcan.window.openPopover({
						name: src,
						dataType: 0,
						url: src,
						left: 0,
						top: top,
						width: width,
						height: height,
					});
				}
			},
		},
	});
</script>

</html>